# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache
*.egg-info/
*.egg
*.log

# Virtual environment
venv/
env/
ENV/

# Pytest
.cache/
*.cover
.coverage
htmlcov/
*.pytest_cache/


# IDE
.vscode/
.idea/

# Windows
Thumbs.db
